<div class="container md:px-20 mx-auto">
  <div
    *ngIf="gardenState$ | async as state; else loadingTemp"
    class="flex flex-col xl:flex-row gap-5"
  >
    <div class="overflow-hidden rounded-lg lg:min-w-max shadow-md">
      <iframe
        class="w-full aspect-video"
        width="560"
        height="315"
        src="https://www.youtube.com/embed/qHXFLsnKDq0?si=5bMc8PUx0CIwMpSs"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
    </div>
    <div class="w-full">
      <!-- Stats -->
      <section class="sm:text-lg grid sm:grid-cols-3 h-fit gap-5 text-center">
        <div class="info-card bg-white">
          <p>Temperatura zraka:</p>
          <p class="text-2xl font-bold">{{ state.temperature }}°C</p>
        </div>
        <div class="info-card bg-white">
          <p>Vlažnost zraka:</p>
          <p class="text-2xl font-bold">{{ state.humidity }}%</p>
        </div>
        <div class="info-card bg-white">
          <p>Vlažnost tla:</p>
          <p class="text-2xl font-bold">{{ state.moisture }}%</p>
        </div>
      </section>
      <!-- Actions -->
      <section class="mt-5 grid sm:grid-cols-2 gap-5 whitespace-nowrap">
        <!-- Watering -->
        <button
          (click)="openPump()"
          [disabled]="loadingPump"
          [ngClass]="{ 'no-action-card pointer-events-none': state.isPumpOpen }"
          class="action-card w-full"
        >
          <fa-icon [icon]="['fas', 'droplet']" size="lg"></fa-icon>
          {{
            state.isPumpOpen
              ? "Navodnjavanje u tijeku"
              : "Pokreni navodnjavanje"
          }}
        </button>

        <!-- Windows -->
        <button
          (click)="openWindows()"
          [disabled]="loadingWindows"
          [ngClass]="{
            'no-action-card pointer-events-none': state.isWindowOpen
          }"
          class="action-card w-full"
        >
          <fa-icon [icon]="['fas', 'door-open']" size="lg"></fa-icon>
          {{
            state.isWindowOpen
              ? "Staklenik će se sam zatvoriti"
              : "Otvori staklenik"
          }}
        </button>
      </section>
    </div>
  </div>
</div>

<ng-template #loadingTemp> ...loading </ng-template>
